{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <title>Чат</title>
</head>
<body>

<div class="container mt-5">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                   <h3> Диалогдор</h3>
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    {% for chat in chats %}
                        {% if chat.user1.pk == user.pk %}
                        <a href="{% url 'chat_id' chat.pk %}">
                            <li class="clearfix border  border-primary rounded">
                                {% if chat.user2.image %}
                                <img src="{{ chat.user2.image.url }}" alt="avatar">
                                {% endif %}
                                <div class="about">
                                    <div class="name">{{ chat.user2.first_name }} {{ chat.user2.last_name }}</div>
                                </div>
                            </li>
                        </a>
                        {% else %}
                    <a href="{% url 'chat_id' chat.pk %}">
                        <li class="clearfix border-primary rounded">
                            <img src="{{ chat.user2.image.url }}" alt="avatar">
                            <div class="about">
                                <div class="name">{{ chat.user1.username }}</div>
                            </div>
                        </li>
                    </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                {% if receiver.image %}
                                <img src="{{ receiver.image.url }}" alt="avatar">
                                {% endif %}
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">{{ receiver.last_name }} {{ receiver.first_name }} {{ receiver.otchestvo }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        {% for message in messages %}
                            {% if message.send_user.pk == user.pk %}
                                <li class="clearfix">
                                    <div class="message-data text-right">
                                        <span class="message-data-time">{{ message.date_send_message|date:'Y-m-d H:i' }}</span>
                                    </div>
                                    <div class="message other-message float-right"> {{ message.title }} </div>
                                </li>
                            {% else %}
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">{{ message.date_send_message|date:'Y-m-d H:i' }}</span>
                                    </div>
                                    <div class="message my-message">{{ message.title }} </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <form action=" {% url 'send_message' %} " method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" value="{{ receiver.pk }}" style="display:none" name="send_to">
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-folder"><input type="file" name="image"></i></span>
                        </div>
                        <textarea class="form-control" name="message_text" cols="40" rows="2" placeholder="Текст жазыныз..." ></textarea>
                        <div class="input-group-prepend">

                            <button type="submit" class="form-control btn btn-primary m-2">Жөнөтүү</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>