{% load static %}

<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.last_name }} {{ user.first_name }} {{ user.otchestvo }}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
<div class="container">
	<h1>Окуу жайдын аталышы</h1>
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								{% if user.image %}
								<img src="{{ user.image.url }}" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
								{% endif %}
								<div class="mt-3">
									<h4>{{ user.last_name }} {{ user.first_name }} {{ user.otchestvo }}</h4>
									<a href="{% url 'logout' %}"><button class="btn btn-outline-primary">Чыгуу</button></a>
								</div>
							</div>
							<hr class="my-4">
								<div>
									<a href="{% url 'chats' %}">
										<img src="{% static 'images/message.png' %}" style="width:20" class="ml-3">
									<p style="display: inline-block;" class="ml-3">Келген каттар <span class="badge badge-success">New</span></p></a>
								</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Аты-жөнү</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{ user.last_name }} {{ user.first_name }} {{ user.otchestvo }}" disabled>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{ user.email }}" disabled>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Тел. Номери</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{ user.number }}" disabled>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Адрес:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{ user.address }}" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<h5 class="d-flex align-items-center mb-3">Катышкан курстар</h5>
									{% for course in user.courses.all %}
										<a href="#"><p>{{ course }}</p></a>
									<div class="progress mb-3" style="height: 5px">
										<div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>